<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>openbi-web</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
	<login-config>
  		<auth-method>BASIC</auth-method>
  		<realm-name>ad_realm</realm-name>
	</login-config>
	<security-role>
		<role-name>userRole</role-name>
	</security-role>
	<security-constraint>
		<display-name>SecurityConstraint</display-name>
  		<web-resource-collection>
    		<web-resource-name>SecuredFolder</web-resource-name>
      		<url-pattern>/pages/*</url-pattern>
    	</web-resource-collection>
    	<auth-constraint>
      		<role-name>userRole</role-name>
    	</auth-constraint>
  		<user-data-constraint>
    		<transport-guarantee>NONE</transport-guarantee>
  		</user-data-constraint>
	</security-constraint>
</web-app>